<div id="titre"><h1>Déjà inscrit ? Connectez-vous</h1>
<h2>Pour vous identifier, saisissez les informations suivantes :</h2>
</div>

<form id="form1" action="/login" method="POST">
  <div>
    <label for="email"></label>
    <input type="email" name="email" placeholder="Adresse mail">
  </div>
  
  <div>
    <label for="password"></label>
    <input type="password" name="password" placeholder="Mot de passe">
  </div>
  
  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}
  
  <div>
    <button>Log in</button>
  </div>
</form>
<div id="text2"><p>Vous n'avez pas encore de compte ?<a href="/signup"> Cliquez-ici</a></p>
</div>