<div id="titre"><h1>Envie de tester ? Créez votre compte</h1>

<h2>Compléter les champs suivants :</h2>
</div>

<form id="form1" action="/signup" method="POST" id="form-container">

  <div>
    <label for="prenom"></label>
    <input id="prenom" type="text" name="prenom" placeholder="Votre prénom">
  </div>

  <div>
    <label for="email"></label>
    <input id="email" type="email" name="email" placeholder="Adresse mail">
  </div>
  
  <div>
    <label for="password"></label>
<<<<<<< HEAD
    <input id="password" type="password" class="field" name="password" placeholder="Mot de passe">
=======
    <input id="password" type="password" name="password" placeholder="Votre mot de passe">
>>>>>>> 119119c56757449cb09be49ea969087f2425c1b5
  </div>

  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <div>
    <button>Je crée mon compte</button>
  </div>

  <div id="text2">
    <p class="account-message">
     Vous avez déjà un compte ?
     <a href="/login">Connectez-vous</a>
    </p>
  </div>
</form>