<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">

  <div class="infosperso">
    <label for="prenom"></label>
<<<<<<< HEAD
    <input id="prenom" type="text" class="field"  name="prenom" placeholder="Prénom">
=======
    <input id="prenom" type="text" class="field"  name="prenom">
>>>>>>> 4f13af67d402db65a951e039ae1b2ba062923cf8
  </div>

  <div class="infosperso">
    <label for="email"></label>
<<<<<<< HEAD
    <input id="email" type="email" class="field" name="email" placeholder="Adresse e-mail">
=======
    <input id="email" type="email" class="field" name="email">
>>>>>>> 4f13af67d402db65a951e039ae1b2ba062923cf8
  </div>
  
  <div class="infosperso">
    <label for="password"></label>
<<<<<<< HEAD
    <input id="password" type="password" class="field" name="password" placeholder="Mot de passe">
=======
    <input id="password" type="password" class="field" name="password">
>>>>>>> 4f13af67d402db65a951e039ae1b2ba062923cf8
  </div>

  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <div>
    <button>Create account</button>
  </div>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>