<section class="paragraphes">
  <div class="paragrapheI">
    <h2 class="titres">Vous avez tendance à oublier les anniversaires ?<br>
Vous n'avez pas le temps de chercher « le » cadeau ?<br>
Vous aimeriez anticiper ?</h2>
    <p class="textes">Birthdates est l'application qu'il vous faut.<br> 
  Il s'agit de la première application qui envoie à votre place des messages pré-définis d'anniversaires à votre entourage, vous permet de trouver le cadeau idéal ET de l'expédier directement. 
  <br> Tout cela en deux minutes depuis votre smartphone, et en toute sécurité.</p>
    <button id="createcalendar" href="/signup">Je crée mon calendrier</button>
  </div>
  <div><img id="birthdaycake" src="/images/capture.png" alt="birthdaycake"></div>
</section>

<section class="paragraphes">
  <div><img id="birthdaycake2" src="/images/capture.png" alt="birthdaycake"></div>
  <div class="paragrapheI">
    <h2 class="titres">C'est très simple :</h2>
    <p class="textes">Entrez vos dates sur le calendrier, dites à quel moment vous souhaitez être averti : J-10 / J-7 / J-5 / J-0 ? <br> Et choisissez un message pré-enregistré ou personnalisé.</p>
  </div>
  
</section>

<section id="footer">
<div>
  <img id="footerlogo"src="images/logobirthdates" alt="logofooter">
</div>
</section>

