  <div class="paragraphes">
  <div class="sousparagraphe">
    <h2 class="titres">Vous avez tendance à oublier les anniversaires ?</h2>
    <p class="textes">Birthdates est l'application qu'il vous faut.
  Il s'agit de la première application qui envoie à votre place vos messages d'anniversaires à vos contacts. 
  Tout cela en deux minutes depuis votre smartphone et en toute sécurité.</p>
    <a id="createcalendar" href="/login">Je crée mon calendrier</a>
  </div>
    <div class="birthdaycake"><img id="birthdaycake" src="/images/Capture.PNG" alt="birthdaycake"></div>
  </div>
