<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css" />
 
</head>

<body>
 <div id="navbar">
  <a href="/birthdates">
  <img id="logosloth" src="/images/logosloth2.png" alt="logosloth">
  </a>
  <img id="logotext" src="/images/logobirthdates.png" alt="logobirthdates">
  <button id="login" href="/login">Connexion</button>
  <button id="signup" href="/signup">Inscription</button>
  </div>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
  </section>

  <footer class="footer">
    <div>
      <h3 class="h">En savoir plus sur nous</h3>
      <a href="javascript:void 0;">About Birthdates</a>
      <a href="javascript:void 0;">Notre solution</a>
      <a href="javascript:void 0;">Espace presse</a>
    </div>

    <div>
      <h3 class="h">Business Solutions</h3>
      <a href="javascript:void 0;">Nous joindre</a>
      <a href="javascript:void 0;">Network</a>
      <a href="javascript:void 0;">Relation</a>
    </div>

    <div>
      <h3 class="h">Réseaux sociaux</h3>
      <a href="javascript:void 0;">Facebook</a>
      <a href="javascript:void 0;">Twitter</a>
      <a href="javascript:void 0;">Pinterest</a>
    </div>

    <div>
      <h3 class="h">Contactez-nous</h3>
      <a href="javascript:void 0;">Aide</a>
      <a href="javascript:void 0;">FAQ</a>
    </div>
  </footer>

  <address class="copy">
    <p>© 2020 Birthdates - Tracy and Marina</p>
    <a href="javascript:void 0;">CGV</a>
    <a href="javascript:void 0;">Facebook</a>
    <a href="javascript:void 0;">Contactez-nous</a>
  </address>
</body>
</html>