*, :before, :after {box-sizing:border-box;}

body {
  margin: 0%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
  --pad:1em;
  --gutter:1.5em;
}
@media (min-width:900px) {
  :root {
    --pad:4em;
  }
}



//  ##    ##    ###    ##     ##    ########     ###    ########  
//  ###   ##   ## ##   ##     ##    ##     ##   ## ##   ##     ## 
//  ####  ##  ##   ##  ##     ##    ##     ##  ##   ##  ##     ## 
//  ## ## ## ##     ## ##     ##    ########  ##     ## ########  
//  ##  #### #########  ##   ##     ##     ## ######### ##   ##   
//  ##   ### ##     ##   ## ##      ##     ## ##     ## ##    ##  
//  ##    ## ##     ##    ###       ########  ##     ## ##     ##                                                           

img {max-width:50%;}


a {text-decoration:inherit; color:inherit;}

@media (min-width:900px) {
  /*
  Make the header 100vh and the form get the available height
  */
  .header {
    display:flex; flex-direction:column;
    //min-height:100vh;
  }
}


.navbar {
  display:flex;
  background:rgb(250, 241, 243);
  padding:0.5em var(--pad);
}
@media (min-width:900px) {
  .navbar {align-items:center;}

}

#logotext {
  margin-top: 0.7em;
  margin-left: 5em;
}


.navbar .menu {margin-left:auto;}

.navbar .menu img {
  height:6em;
}


.navbar .menu2 {display:none;}
@media (min-width:900px) {
 
  .navbar .menu {display:none;}
  .navbar .menu2 {
    display:initial;
    margin-left:auto;
  }
  .navbar .menu2 a {margin-right:3em;}
}

.navbar {
  position: relative;
}
.masthead {
  position: absolute;
  top:11px;

}

@media (max-width:900px) {
  .masthead {
    position: absolute;
    top: 46px;
    width: 62%;
  }
  #logotext {
    margin-top: 1.7em;
    margin-left: 3em;
  }
  .menu {
    width: 60%;
  }

}

.menu2 {
  font-size: 17px;
}

.login {
  color: #4A0D6A;
}

.signup {
  background: #4A0D6A;
  color: #fbfafc;
  /* margin-top: 11px; */
  /* border: 1px solid #4A0D6A; */
  border-radius: 47px;
  /* display: inline-block; */
  /* text-decoration: none; */
  /* text-transform: uppercase; */
  width: 60%;
  box-sizing: border-box;
  /* font-size: 14px; */
  outline: 0;
  padding: 10px;
  width: 48%;
}

.logout{
  background: white;
  color: #4A0D6A;
  /* margin-top: 11px; */
  /* border: 1px solid #4A0D6A; */
  border-radius: 47px;
  /* display: inline-block; */
  /* text-decoration: none; */
  /* text-transform: uppercase; */
  width: 60%;
  box-sizing: border-box;
  /* font-size: 14px; */
  outline: 0;
  padding: 10px;
  width: 48%;
}



//  ##     ##  #######  ##     ## ######## ########     ###     ######   ######## 
//  ##     ## ##     ## ###   ### ##       ##     ##   ## ##   ##    ##  ##       
//  ##     ## ##     ## #### #### ##       ##     ##  ##   ##  ##        ##       
//  ######### ##     ## ## ### ## ######   ########  ##     ## ##   #### ######   
//  ##     ## ##     ## ##     ## ##       ##        ######### ##    ##  ##       
//  ##     ## ##     ## ##     ## ##       ##        ##     ## ##    ##  ##       
//  ##     ##  #######  ##     ## ######## ##        ##     ##  ######   ########

.paragraphes{
  display: flex;
  text-align: center;
  margin-bottom: 6em;
}

.sousparagraphe{
  flex-direction: column;
  margin-left: 10%;
  margin-top: 3%;

}


.titres{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 33px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  margin-left: 10%;
  color: #4A0D6A;

}

.textes{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.04em;
  color: rgb(46, 45, 45);
  margin-bottom:1em;
}

.birthdaycake{

  width: 250%;
  // height: 150%;
  // // border-radius: 23%;
  // margin-left: 10%;
  margin-top: 5em;
}

@media (max-width:900px) {
  .birthdaycake {display:none;}
  .titres {font-size: 30px;}
  .textes{font-size: 20px;}
  .sousparagraphe {
    flex-direction: column;
    margin-left: 0%;
    margin-top: 10%;
  }
}


#createcalendar {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
}

#createcalendar {
  margin-top: 20px;
  border: 1px solid  #4A0D6A;
  border-radius: 47px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  width: 60%;
}

#createcalendar {
  background: #4A0D6A;
  color: rgb(251, 250, 252);
}


//  ########  #######   #######  ######## ######## ########  
//  ##       ##     ## ##     ##    ##    ##       ##     ## 
//  ##       ##     ## ##     ##    ##    ##       ##     ## 
//  ######   ##     ## ##     ##    ##    ######   ########  
//  ##       ##     ## ##     ##    ##    ##       ##   ##   
//  ##       ##     ## ##     ##    ##    ##       ##    ##  
//  ##        #######   #######     ##    ######## ##     ##

.footer {
  /* some shared styles with .howto: cf. .howto */

  background: rgb(250, 241, 243);
  padding-top: 0.5em;
  
}
@media (min-width:900px) {
  .footer {display:flex; justify-content:space-between;}
  .footer >div {width:calc(25% - 3 * var(--gutter) / 4);}
}

.footer h3 {
  margin-top:1em;
  margin-left: 2em;
  margin-right: 2em;
}

.footer a {
  display:block;
  color:gray;
  line-height:2;
  margin-left: 3em;
  margin-right: 2em;

}

address {
  font-style:inherit;
  background: #4A0D6A;
  color: white;
  padding:1em var(--pad);

}
@media (min-width:900px) {
  address {display:flex;}
  p {margin-right:auto; margin-bottom:0;}
}

address p {
  margin-left: 1em;
  margin-top:0em;
  margin-bottom: 1em;
}

address a {
  margin-left: 1em;
  margin-right:3em;
  margin-top:0em;
  margin-bottom: 1em;
  color: white;
}

//   ######  ####  ######   ##    ##    ##     ## ########  
//  ##    ##  ##  ##    ##  ###   ##    ##     ## ##     ## 
//  ##        ##  ##        ####  ##    ##     ## ##     ## 
//   ######   ##  ##   #### ## ## ##    ##     ## ########  
//        ##  ##  ##    ##  ##  ####    ##     ## ##        
//  ##    ##  ##  ##    ##  ##   ###    ##     ## ##        
//   ######  ####  ######   ##    ##     #######  ## 

#titre h1 {
  color:  #4A0D6A;
}

::placeholder {
  text-align: center;
}

#titre {
  text-align: center;
  color: rgb(46, 45, 45);
}

#form1 {
  margin: 20px auto;
  width: 380px;
}

#form1 label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form1 input,
#form1 button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
}

#form1 button {
  margin-top: 20px;
  background: #4A0D6A;
  border: 1px solid  #4A0D6A;
  border-radius: 47px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form1 button:hover {
  background: #fff;
  color: #4A0D6A;
  transition: .3s ease background;
}

#text2 {
  text-align: center;
  color:  #4A0D6A;
  margin-bottom:5em;
}

//  ##        #######   ######   #### ##    ## 
//  ##       ##     ## ##    ##   ##  ###   ## 
//  ##       ##     ## ##         ##  ####  ## 
//  ##       ##     ## ##   ####  ##  ## ## ## 
//  ##       ##     ## ##    ##   ##  ##  #### 
//  ##       ##     ## ##    ##   ##  ##   ### 
//  ########  #######   ######   #### ##    ## 

#titre h1 {
  color:  #4A0D6A;
}

::placeholder {
  text-align: center;
}

#titre {
  text-align: center;
  color: rgb(46, 45, 45);
}

#form1 {
  margin: 20px auto;
  width: 380px;
}

#form1 label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form1 input,
#form1 button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
}

#form1 button {
  margin-top: 20px;
  background: #4A0D6A;
  border: 1px solid  #4A0D6A;
  border-radius: 47px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form1 button:hover {
  background: #fff;
  color: #4A0D6A;
  transition: .3s ease background;
}

#text2 {
  text-align: center;
  color:  #4A0D6A;
  margin-bottom: 9em;
}




//  ########  #### ########  ######## ##     ## ########     ###    ######## ########  ######  
//  ##     ##  ##  ##     ##    ##    ##     ## ##     ##   ## ##      ##    ##       ##    ## 
//  ##     ##  ##  ##     ##    ##    ##     ## ##     ##  ##   ##     ##    ##       ##       
//  ########   ##  ########     ##    ######### ##     ## ##     ##    ##    ######    ######  
//  ##     ##  ##  ##   ##      ##    ##     ## ##     ## #########    ##    ##             ## 
//  ##     ##  ##  ##    ##     ##    ##     ## ##     ## ##     ##    ##    ##       ##    ## 
//  ########  #### ##     ##    ##    ##     ## ########  ##     ##    ##    ########  ######

.card {
  height:13em;
  display:block; margin:0 auto;

}

.cards {}
@media (min-width:900px) {
  .big_card {display:flex; flex-direction:row; flex-wrap:wrap; align-items :center;justify-content:space-around; width:100%}

  .cards {width:calc(25% - 3 * var(--gutter) / 4);}
  .cards {
    margin-left: 2em;
    margin-right: 2em;
  }
}


#test {
  color: white;
}

#titre h2 {
  margin-bottom: 2em;
}

.card {
  background:rgba(233, 231, 231, 0.76);
  margin-bottom:3em;

}

#test2 {
  font-size: 110px;
  color: white;
}

.card {border-radius:1em;}

.card .details {padding:1em;}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .btn1 {
  padding:.5em 1em;
  background:#F02B63; color:white;
  font-size:80%;
  
}

.card .btn2 {
  padding:.5em 1em;
  background:#4A0D6A; color:white;
  font-size:80%;

}

.newbirthday {
  box-sizing: border-box;
  font-size: 14px;
  //outline: 0;
  padding: 10px;
  //width: 100%;
  margin-bottom: 5px;
  text-align: center;
}

.newbirthday {
  margin-top: 20px;
  border: 1px solid  #4A0D6A;
  border-radius: 47px;
  //display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  width: 20%;
}

.newbirthday {
  background: #4A0D6A;
  color: rgb(251, 250, 252);
  margin-bottom: 2em;

}

@media (max-width:900px) {
  #titre {
    margin-top: 5em;
  }
}

.menu2 {
  display: none;
}

.prenom {
  color: #4A0D6A;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 1em;

}

.dateOfBirth {
  padding-bottom: 0.5em;
}

.email {
  padding-bottom: 0.5em;
}

.message {
  padding-bottom: 0.5em;
}

@media (max-width:900px) {
  .cards {
    margin-left: 1em;
    margin-right: 1em;
  }
}


//  ##    ## ######## ##      ##    ########     ###    ######## ######## 
//  ###   ## ##       ##  ##  ##    ##     ##   ## ##      ##    ##       
//  ####  ## ##       ##  ##  ##    ##     ##  ##   ##     ##    ##       
//  ## ## ## ######   ##  ##  ##    ##     ## ##     ##    ##    ######   
//  ##  #### ##       ##  ##  ##    ##     ## #########    ##    ##       
//  ##   ### ##       ##  ##  ##    ##     ## ##     ##    ##    ##       
//  ##    ## ########  ###  ###     ########  ##     ##    ##    ######## 

#titre {
  text-align: center;
  color: rgb(46, 45, 45);
}
#form {
  margin: 30px auto;
  width: 335px;
}

#form label {
  color: rgb(46, 45, 45);
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #4A0D6A;
  border: 1px solid  #4A0D6A;
  border-radius: 47px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #4A0D6A;
  transition: .3s ease background;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  text-align: center;
}

/*@media (max-width:900px) {
  .titre {

  }
  .titre h2 {

  }
}*/

/*EDIT*/


#form1 label .message {
  padding: 50px;
}

