*, :before, :after {box-sizing:border-box;}

body {
  margin: 0%;
}

:root {
  --pad:1em;
  --gutter:1.5em;
}
@media (min-width:900px) {
  :root {
    --pad:4em;
  }
}

//  ##    ##    ###    ##     ##    ########     ###    ########  
//  ###   ##   ## ##   ##     ##    ##     ##   ## ##   ##     ## 
//  ####  ##  ##   ##  ##     ##    ##     ##  ##   ##  ##     ## 
//  ## ## ## ##     ## ##     ##    ########  ##     ## ########  
//  ##  #### #########  ##   ##     ##     ## ######### ##   ##   
//  ##   ### ##     ##   ## ##      ##     ## ##     ## ##    ##  
//  ##    ## ##     ##    ###       ########  ##     ## ##     ##                                                           

#navbar{
  width: 100%;
  height: 92px;
  background: #FEE9EE;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

#logotext {
  width: 25%;
  margin-left:20%
}

#logosloth {
  width:65%;
  margin-top: 23%;
  margin-left:10%
}

#login{
margin-left: 20%;

/* Label / Button Gothic Medium 18 */

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #4A0D6A;
background: #FEE9EE;
border:0px;
}

#signup{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 5%;
  height: 45px;
  width:120px;
  left: 28px;
  right: 27.11px;
  top: calc(50% - 24px/2 + 3px);
  /* Shadow / Card Negative */

  box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.4), 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  background: #4A0D6A;
  color: #FFFFFF;
}

//  ##     ##  #######  ##     ## ######## ########     ###     ######   ######## 
//  ##     ## ##     ## ###   ### ##       ##     ##   ## ##   ##    ##  ##       
//  ##     ## ##     ## #### #### ##       ##     ##  ##   ##  ##        ##       
//  ######### ##     ## ## ### ## ######   ########  ##     ## ##   #### ######   
//  ##     ## ##     ## ##     ## ##       ##        ######### ##    ##  ##       
//  ##     ## ##     ## ##     ## ##       ##        ##     ## ##    ##  ##       
//  ##     ##  #######  ##     ## ######## ##        ##     ##  ######   ########

.paragraphes{
  display: flex;
}

.paragrapheI{
  flex-direction: column;
  margin-left: 2%;
  margin-top: 5%;
}

.paragrapheII{
  flex-direction: column;
  margin-top: 2%;
  margin-left: 2%;
}
.titres{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 33px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  margin-left: 10%;

  color: #4A0D6A;

}

.textes{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 25px;
letter-spacing: 0.04em;

color: #4A0D6A;
}

#birthdaycake{
  width: 80%;
  height: 90%;
  border-radius: 23%;
  margin-left: 15%;
  margin-top: 5%;
}

#createcalendar{
  margin-left:65%;
  height: 45px;
  width:120px;
  left: 28px;
  right: 27.11px;
  top: calc(50% - 24px/2 + 3px);
  /* Shadow / Card Negative */

  box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.4), 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  background: #4A0D6A;
  color: #FFFFFF;
}

#birthdaycake2{
  width: 40%;
  height: 60%;
  border-radius: 23%;
  margin-left: 2%;
  margin-top: 5%;
}

//  ########  #######   #######  ######## ######## ########  
//  ##       ##     ## ##     ##    ##    ##       ##     ## 
//  ##       ##     ## ##     ##    ##    ##       ##     ## 
//  ######   ##     ## ##     ##    ##    ######   ########  
//  ##       ##     ## ##     ##    ##    ##       ##   ##   
//  ##       ##     ## ##     ##    ##    ##       ##    ##  
//  ##        #######   #######     ##    ######## ##     ##
/*#footer{
  display: flex;
  align-items: center;
  text-align: center;
}
#footerlogo {
  width: 110px;
  height: 52px;
  left: calc(50% - 91px/2 - 349.5px);
  top: 96px;

  font-family: Istok Web;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  /* identical to box height */



  /* Black 80 */

  /*color: #222222;

  margin-left: 10%;
  margin-top: 10%;
}

#socialmedias{
  margin-left:10%;
  margin-top:1%;
  }

.titrefooter{
  width: 48px;
  height: 20px;
  left: calc(50% - 48px/2 - 160px);
  top: 118px;

  font-family: Gothic A1;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  /*letter-spacing: 0.02em;

  /* Black 80 */

  /*color: #222222;

  flex-direction: column;
}
.sous-titres{
  flex-direction: column;
}*/

.footer {
  /* some shared styles with .howto: cf. .howto */

  background: rgb(250, 241, 243);
  padding-top: 0.5em;
  
}
@media (min-width:900px) {
  .footer {display:flex; justify-content:space-between;}
  .footer >div {width:calc(25% - 3 * var(--gutter) / 4);}
}

.footer h3 {
  margin-top:1em;
  margin-left: 2em;
  margin-right: 2em;
}

.footer a {
  display:block;
  color:gray;
  line-height:2;
  margin-left: 2em;
  margin-right: 2em;

}

address {
  font-style:inherit;
  background: #4A0D6A;
  color: white;
  padding:0.5em var(--pad);

}
@media (min-width:900px) {
  address {display:flex;}
  p {margin-right:auto; margin-bottom:0;}
}

address p {
  margin-left: 1em;
  margin-top:0em;
  margin-bottom: 1em;
}

address a {
  margin-left: 1em;
  margin-right:3em;
  margin-top:0em;
  margin-bottom: 1em;
  color: white;
}

//   ######  ####  ######   ##    ##    ##     ## ########  
//  ##    ##  ##  ##    ##  ###   ##    ##     ## ##     ## 
//  ##        ##  ##        ####  ##    ##     ## ##     ## 
//   ######   ##  ##   #### ## ## ##    ##     ## ########  
//        ##  ##  ##    ##  ##  ####    ##     ## ##        
//  ##    ##  ##  ##    ##  ##   ###    ##     ## ##        
//   ######  ####  ######   ##    ##     #######  ## 

#titre h1 {
  color:  #4A0D6A;
}

::placeholder {
  text-align: center;
}

#titre {
  text-align: center;
  color: rgb(46, 45, 45);
}

#form1 {
  margin: 20px auto;
  width: 380px;
}

#form1 label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form1 input,
#form1 button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
}

#form1 button {
  margin-top: 20px;
  background: #4A0D6A;
  border: 1px solid  #4A0D6A;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form1 button:hover {
  background: #fff;
  color: #4A0D6A;
  transition: .3s ease background;
}

#text2 {
  text-align: center;
  color:  #4A0D6A;
  margin-bottom:5em;
}

//  ##        #######   ######   #### ##    ## 
//  ##       ##     ## ##    ##   ##  ###   ## 
//  ##       ##     ## ##         ##  ####  ## 
//  ##       ##     ## ##   ####  ##  ## ## ## 
//  ##       ##     ## ##    ##   ##  ##  #### 
//  ##       ##     ## ##    ##   ##  ##   ### 
//  ########  #######   ######   #### ##    ## 

#titre h1 {
  color:  #4A0D6A;
}

::placeholder {
  text-align: center;
}

#titre {
  text-align: center;
  color: rgb(46, 45, 45);
}

#form1 {
  margin: 20px auto;
  width: 380px;
}

#form1 label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form1 input,
#form1 button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
}

#form1 button {
  margin-top: 20px;
  background: #4A0D6A;
  border: 1px solid  #4A0D6A;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form1 button:hover {
  background: #fff;
  color: #4A0D6A;
  transition: .3s ease background;
}

#text2 {
  text-align: center;
  color:  #4A0D6A;
  margin-bottom: 9em;
}




//  ########  #### ########  ######## ##     ## ########     ###    ######## ########  ######  
//  ##     ##  ##  ##     ##    ##    ##     ## ##     ##   ## ##      ##    ##       ##    ## 
//  ##     ##  ##  ##     ##    ##    ##     ## ##     ##  ##   ##     ##    ##       ##       
//  ########   ##  ########     ##    ######### ##     ## ##     ##    ##    ######    ######  
//  ##     ##  ##  ##   ##      ##    ##     ## ##     ## #########    ##    ##             ## 
//  ##     ##  ##  ##    ##     ##    ##     ## ##     ## ##     ##    ##    ##       ##    ## 
//  ########  #### ##     ##    ##    ##     ## ########  ##     ##    ##    ########  ######

.newbirthday {
  text-align: center;
  padding-bottom: 5em;
}

.card {
  height:15em;
  display:block; margin:0 auto;

}

.cards {}
@media (min-width:900px) {
  .cards {display:flex; flex-wrap:wrap; justify-content:space-between;}
  .card {width:calc(25% - 3 * var(--gutter) / 4);}
}

.card {
  background:rgb(218, 216, 216);
  margin-bottom:3em;
  text-align: center;
}

.card {border-radius:1em;}

.card .details {padding:1em;}

.btn {
  display: flex;
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*justify-content: space-between;*/
}

.card .btn1 {
  padding:.5em 1em;
  background:#F02B63; color:white;
  font-size:80%;
  
}

.card .btn2 {
  padding:.5em 1em;
  background:#4A0D6A; color:white;
  font-size:80%;

}






//  ##    ## ######## ##      ##    ########     ###    ######## ######## 
//  ###   ## ##       ##  ##  ##    ##     ##   ## ##      ##    ##       
//  ####  ## ##       ##  ##  ##    ##     ##  ##   ##     ##    ##       
//  ## ## ## ######   ##  ##  ##    ##     ## ##     ##    ##    ######   
//  ##  #### ##       ##  ##  ##    ##     ## #########    ##    ##       
//  ##   ### ##       ##  ##  ##    ##     ## ##     ##    ##    ##       
//  ##    ## ########  ###  ###     ########  ##     ##    ##    ######## 

#titre {
  text-align: center;
  color: rgb(46, 45, 45);
}
#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #4A0D6A;
  border: 1px solid  #4A0D6A;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #4A0D6A;
  transition: .3s ease background;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  text-align: center;
}


/*EDIT*/


#form1 label .message {
  padding: 50px;
}

